*{ margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 80%;
    margin:0 auto;
    padding: 1%;
}

.clearfix{
    clear: both;
    float: none;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

a{
    color:#ff4757;
    text-decoration: none;
}

a :hover{
    color: #ff4757;
}


/* css for header */
.logo{
    width: 10%;
    float: left;
}

.menu{
    line-height: 60px;
}

.menu ul{
    list-style-type: none;
    
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
    
}






/* css for main content */
.order {
    background-image: url('/images/bg.jpg');
    height: 1000px;
    background-size: cover;
    background-position: -600px;
}

.order>h1 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-top: 130px;
    font-weight: 540;
}
#head_1{
    color:black;
}
.order form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.selected img {
    width: 100px;
    height: 100px;
    margin: 15px 27px 0 15px;
    border-radius: 15px;
}

.order .selected fieldset {
    border: 1px solid #fff;
    height: 160px;
    width: 400px;
    display: flex;
    border-radius: 10px;
}

.order form fieldset legend {
    margin-left: 20px;
    padding: 0 5px;
}

.order .selected div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 0;
}

.order form div label {
    font-weight: 600;
}

.order .selected div h1 {
    font-size: 25px;
}

.order .selected div input {
    padding-left: 5px;
    border-radius: 4px;
}

.order .delivery fieldset {
    border: 1px solid #fff;
    height: 480px;
    width: 400px;
    border-radius: 10px;
}

.order .delivery fieldset div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    height: 430px;
}

.order .delivery div input[type="text"] {
    padding-left: 10px;
    padding: 5px 0 5px 10px;
    border-radius: 4px;
    font-size: 18px;
}

.order .delivery div textarea {
    border-radius: 4px;
    font-size: 18px;
    padding: 5px 0 5px 10px;
}

.order .delivery div input[type="submit"] {
    border-radius: 4px;
    font-size: 18px;
    width: 120px;
    padding: 4px;
    color: #fff;
    margin-top: 5px;
    background-color: rgb(248, 134, 4);
}

.order .delivery div input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(248, 61, 4);
}

/* css for socials */
.social ul{
    list-style-type: none;
}

.social ul li{
    display: inline;
    padding: 1%;
    margin-left: 1%;
}











